<div id="container">
      <p class="m-0 text-center text-white">Copyright &copy; Electric Mobility 2024
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#"><i class="fa-brands fa-facebook"></i></a>&nbsp;
      <a href="#"><i class="fa-brands fa-instagram"></i></a>&nbsp;
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="index.php?page=mentions">Mentions légales</a>
      </p>
</div>